<style>
body {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}
.container {
    display: table-cell;
    vertical-align: middle;
}
</style>
<div class="container">

	<div class="logo">
		<img src="cropped-severn_valley_renewables_logo.png" />
	</div>

	<div class="text">
		<h3>Sorry! This site is down for scheduled maintenance. Please check back shortly</h3>
	</div>

</div>