* { margin: 0; padding:0;}
body{
	padding-top:1%;
}
#logo{
	width:100%;
}
#header{
	width:960px;
	margin: 0 auto;
}
#header img {
	z-index:1;
	overflow: hidden;
	margin:0 auto;
	display:block;
}
#all{
	background-color:green;
	width:100%;
}
#wrap{
	width:960px;
	margin: 0 auto;
	height:260px;

}
#services{
	padding-top:20px;
	font-family:Helvetica ;
	text-align:center;

}
#services h2{
	color:#8dc63f;
	font-size:32px;
	letter-spacing: 1px;
    text-align:center;

}
ul.top li, ul.bottom li{
	display:inline-block;
	color:white;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	list-style-type:none;
	letter-spacing: 1px;
	padding:20px;

}
ul.middle{
	list-style-type:none;
	padding-top:10px;
}
#services a{
	margin-top:220px;
	font-size:26px;
	font-weight:bold;
	color: #8dc63f;
	letter-spacing: 1px;
}
#wraper{
	width:100%;
	text-align:center;
}
#brochure{
	padding:35px;
	margin: 0 auto;
}
#brochure h3{
	color:green;
	font-family:Helvetica ;
	letter-spacing: 2px;
	font-size:27px;	
}
#brochure img{
	padding-top:19px;
}
#brochure img:hover{
	background-color:#fff;
	opacity:0.6;
}
#content{
	font-family:helvetica;
	margin: 0 auto;
	text-align:center;
}
#content a{
	color:green;
	text-decoration: none;
	list-style-type:none;
	font-size:27px;
	letter-spacing: 1px;
	font-weight:bold;
}
#content b{
	color:#8dc63f;
}
#content p{
	color:green;
	font-size:27px;
	letter-spacing: 1px;
	font-weight:bold;
}
#address{
	font-family:helvetica;
	padding:20px;
	margin: 0 auto;
	text-align:center;
}
#address a{
	color:green;
	text-decoration: none;
	list-style-type:none;
	font-size:24px;
	font-weight:bold;
}
#address b{
	color:#8dc63f;
}
#installers{
	padding-top:30px;
	margin: 0 auto;
	text-align:center;
}
#installers h2{
	font-family:helvetica;
	font-size:19px;
	color:#808080 ;
}

#text{
	padding-top:15px;
	font-size:11px;
		font-family:helvetica;
		color:gray;
}
#footer{
	margin-top:20px;
	margin: 0 auto;
	text-align:center;
	padding-bottom:30px;
}
#footer p{
	padding-top:30px;
	color:gray;
	font-size:15px;
	font-family:helvetica;

}