/*
	Theme Name: SevernValley
	Description: A mobile responsive and HTML5 theme built for the Genesis Framework.
	Template: genesis
	Template Version: 2.1
	License: GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@font-face{font-family:Icon;src:url(fonts/Icon.eot);src:url(fonts/Icon.eot?#iefix) format('embedded-opentype'),
url(fonts/Icon.woff) format('woff'),
url(fonts/Icon.ttf) format('truetype'),
url(fonts/Icon.svg#Icon) format('svg');
font-weight:400;
font-style:normal
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video {
    display: inline-block
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body {
    margin: 0
}
a {
    background: 0 0
}
a:focus {
    outline: dotted thin
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
mark {
    background: #ff0;
    color: #000
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em
}
pre {
    white-space: pre-wrap
}
q {
    quotes: "\201C""\201D""\2018""\2019"
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    border: 0
}
svg:not(:root) {
    overflow: hidden
}
figure {
    margin: 0
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
legend {
    border: 0;
    padding: 0
}
button,
input,
select,
textarea {
    font-family: inherit;
    margin: 0
}
button,
input {
    line-height: normal
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
textarea {
    overflow: auto;
    vertical-align: top
}
*,
input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.author-box:before,
.clearfix:before,
.entry-content:before,
.entry:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
    content: " ";
    display: table
}
.author-box:after,
.clearfix:after,
.entry-content:after,
.entry:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
    clear: both;
    content: " ";
    display: table
}
body {
    background-color: #fff;
    color: #777;
    font-family: Lato, sans-serif;
    font-weight: 300;
    line-height: 1.625
}
.button,
a,
button,
input:focus,
input[type=button],
input[type=reset],
input[type=submit],
textarea:focus {
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out
}
::-moz-selection {
    background-color: #333;
    color: #fff
}
::selection {
    background-color: #333;
    color: #fff
}
a {
    color: #9C0;
    text-decoration: none
}
a:hover {
    color: #0b8e36
}
p {
    margin: 0 0 24px;
    padding: 0
}
strong {
    font-weight: 700;
    color: #444
}
ol,
ul {
    margin: 0;
    padding: 0
}
li {
    list-style-type: none
}
blockquote,
blockquote::before {
    color: #999
}
blockquote {
    margin: 40px
}
blockquote::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px
}
cite {
    font-style: normal
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0b8e36;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 20px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
.wp-caption,
embed,
iframe,
img,
object,
video {
    max-width: 100%
}
img {
    height: auto
}
.featured-content img,
.gallery img {
    width: auto
}
.gallery {
    overflow: hidden;
    margin-bottom: 28px
}
.gallery-item {
    display: inline-block;
    padding: 4px;
    text-align: center;
    vertical-align: top;
    width: 100%
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6666%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}
.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear: left
}
.gallery .gallery-item img {
    border: none;
    height: auto
}
input,
select,
textarea {
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .06);
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    width: 100%
}
input:focus,
textarea:focus {
    border: 1px solid #999;
    outline: 0
}
input[type=checkbox],
input[type=image],
input[type=radio] {
    width: auto
}
::-moz-placeholder {
    color: #666;
    opacity: 1;
    font-weight: 400
}
::-webkit-input-placeholder {
    color: #666;
    font-weight: 400
}
.button,
.home-top .more-link,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 16px 24px;
    width: auto
}
.button:hover,
.home-top .more-link:hover,
button:hover,
input:hover[type=button],
input:hover[type=reset],
input:hover[type=submit] {
    background-color: #333;
    color: #fff
}
.entry-content .button:hover,
.footer-widgets .button {
    color: #fff
}
.button {
    display: inline-block
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button {
    display: none
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 2;
    margin-bottom: 40px;
    width: 100%
}
tbody {
    border-bottom: 1px solid #ddd
}
td,
th {
    text-align: left
}
td {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    padding: 6px 0
}
th {
    font-weight: 700;
    text-transform: uppercase
}
.wrap {
    margin: 0 auto;
    max-width: 1140px
}
.enterprise-pro-landing .wrap {
    max-width: 800px
}
.site-inner {
    background-color: #f5f5f5;
    border-top: 1px solid #ececec;
    clear: both;
    padding-top: 10px
}
.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    width: 920px
}
.content-sidebar-sidebar .content-sidebar-wrap {
    float: left
}
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
    float: right
}
.content {
    float: right;
    width: 740px
}
.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
    float: left
}
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
    width: 520px
}
.full-width-content .content {
    width: 100%
}
.sidebar-primary {
    float: right;
    width: 380px;
    margin-bottom: 20px;
    margin-top: 46px
}
.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
    float: left
}
.sidebar-secondary {
    float: left;
    width: 180px
}
.content-sidebar-sidebar .sidebar-secondary {
    float: right
}
.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
    float: left;
    margin-left: 2.564102564102564%
}
.one-half,
.three-sixths,
.two-fourths {
    width: 48.717948717948715%
}
.one-third,
.two-sixths {
    width: 31.623931623931625%
}
.four-sixths,
.two-thirds {
    width: 65.81196581196582%
}
.one-fourth {
    width: 23.076923076923077%
}
.three-fourths {
    width: 74.35897435897436%
}
.one-sixth {
    width: 14.52991452991453%
}
.five-sixths {
    width: 82.90598290598291%
}
.first {
    clear: both;
    margin-left: 0
}
.avatar {
    float: left
}
.alignleft .avatar,
.author-box .avatar {
    margin-right: 24px
}
.alignright .avatar {
    margin-left: 24px
}
.comment .avatar {
    margin: 0 16px 24px 0
}
.breadcrumb {
    margin-bottom: 20px
}
.archive-description,
.author-box {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    margin-bottom: 40px;
    padding: 40px
}
.author-box-title {
    color: #333;
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin-bottom: 4px
}
.archive-description p:last-child,
.author-box p:last-child {
    margin-bottom: 0
}
.search-form {
    overflow: hidden
}
.site-header .search-form {
    float: right;
    margin-top: 8px
}
.entry-content .search-form,
.site-header .search-form {
    width: 50%
}
.genesis-nav-menu .search input[type=submit],
.widget_search input[type=submit] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px
}
.Book-a-servey a {
    color: #0b8e36!important;
    font-size: 160%
}
.archive-title {
    font-size: 20px
}
.entry-title {
    font-size: 30px;
    margin: 0
}
.entry-title a,
.sidebar .widget-title a {
    color: #0b8e36
}
.entry-title a:hover {
    color: #9c0
}
.footer-widgets .featured-content .widget-title,
.widget-title {
    border-bottom: 1px solid #ececec;
    font-size: 22px;
    margin: 0 0 20px;
    padding: 0 0 20px
}
.home-bottom .widget-title,
.sidebar .widget-title {
    margin: -40px -40px 40px;
    padding: 30px 40px
}
.alignleft {
    float: left;
    text-align: left
}
.alignright {
    float: right;
    text-align: right
}
a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%
}
a.alignnone {
    display: inline-block
}
a.aligncenter img {
    display: block;
    margin: 0 auto
}
.aligncenter,
img.centered {
    display: block;
    margin: 0 auto 24px
}
.alignnone,
img.alignnone {
    margin-bottom: 12px
}
.wp-caption.alignleft,
a.alignleft,
img.alignleft {
    margin: 0 24px 12px 0
}
.wp-caption.alignright,
a.alignright,
img.alignright {
    margin: 0 0 12px 24px
}
.wp-caption-text {
    font-weight: 700;
    text-align: center;
    color: #0b8e36
}
.entry-content p.wp-caption-text {
    margin-bottom: 0
}
.gallery-caption {
    margin: 0
}
.entry-content {
    padding-top: 20px
}
.widget {
    word-wrap: break-word
}
.widget li {
    border-bottom: 1px dotted #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px
}
.widget ol>li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px
}
.widget li li {
    border: none;
    margin: 0 0 0 30px;
    padding: 0
}
.widget p:last-child,
.widget ul>li:last-child {
    margin-bottom: 0
}
.widget_calendar table {
    width: 100%
}
.widget_calendar td,
.widget_calendar th {
    text-align: center
}
.after-entry .widget.featured-content,
.featured-content,
.home-bottom .widget.featured-content,
.sidebar .widget.featured-content {
    border-bottom-width: 0;
    padding-left: 8px;
    padding-right: 8px
}
.after-entry .featured-content .widget-title,
.featured-content .widget-title {
    margin: 0;
    padding: 30px 40px
}
.featured-content .entry {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #ececec;
    box-shadow: none;
    margin: 0;
    padding: 0
}
.featured-content .entry-header {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 30px 40px
}
.featured-content .entry-title {
    font-size: 20px;
    margin: 0
}
.featured-content .entry-content {
    padding: 40px
}
.featured-content .alignnone {
    background: #f8f8f8;
    border-bottom: 1px solid #ececec;
    margin-bottom: 0
}
.featured-content img {
    margin-bottom: -7px
}
.featured-content .more-link {
    display: block;
    font-weight: 700;
    margin-top: 20px
}
.featured-content .more-from-category,
.featured-content ul {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 40px
}
.footer-widgets .featured-content .alignnone {
    margin-bottom: 24px
}
.footer-widgets .featured-content .entry {
    background: 0 0;
    border: none;
    margin-bottom: 30px
}
.footer-widgets .featured-content .entry-header,
.footer-widgets .featured-content .more-from-category,
.footer-widgets .featured-content ul {
    border: none;
    padding: 0 0 10px
}
.footer-widgets .featured-content .entry-content {
    padding: 0
}
.facebook-social a {
    background-image: url(images/facebook.png);
    width: 32px;
    height: 32px;
    margin-left: 10px
}
.twitter-social a {
    background-image: url(images/twitter.png);
    width: 32px;
    height: 32px;
    margin-left: 10px
}
.facebook-social.menu-item,
.twitter-social.menu-item {
    margin-top: 20px
}
.enews-widget input {
    margin-bottom: 16px
}
.enews-widget input[type=submit] {
    margin: 0;
    width: 100%
}
.enews form+p {
    margin-top: 24px
}
.home-top .genesis_responsive_slider {
    margin: 0
}
.site-container #genesis-responsive-slider {
    border-width: 0;
    padding: 0
}
.site-container #genesis-responsive-slider .flex-control-nav {
    margin-top: -40px
}
.site-container #genesis-responsive-slider .more-link {
    float: none;
    text-align: center
}
.site-container #genesis-responsive-slider li {
    border-width: 0;
    margin: 0;
    padding: 0;
    text-indent: 0
}
div.gform_wrapper .ginput_complex label,
div.gform_wrapper input[type=email],
div.gform_wrapper input[type=text],
div.gform_wrapper textarea {
    font-size: 16px;
    padding: 16px
}
div.gform_wrapper .ginput_complex label {
    padding: 0
}
div.gform_wrapper form li,
div.gform_wrapper li {
    margin: 16px 0 0
}
#wpstats {
    display: none
}
.site-header {
    background-color: #fff;
    min-height: 150px
}
.site-header .wrap {
    padding: 15px 0
}
.title-area {
    float: left;
    padding: 0 0 4px;
    width: 400px
}
.header-full-width .title-area {
    width: 100%
}
.site-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2
}
.site-title a,
.site-title a:hover {
    color: #31b2ed
}
.header-image .site-title>a {
    background-position: top!important;
    float: left;
    min-height: 115px;
    width: 100%
}
.site-description {
    color: #aaa;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.5;
    text-transform: uppercase
}
.site-description,
.site-title {
    margin-bottom: 0
}
.header-image .site-description,
.header-image .site-title {
    display: block;
    text-indent: -9999px
}
.site-header .widget-area {
    float: right;
    text-align: right;
    width: 720px;
    padding-top: 48px
}
.site-header .widget-area .widget {
    margin-bottom: 0
}
.site-header .genesis-nav-menu li {
    border: none;
    margin: 0;
    padding: 0
}
.genesis-nav-menu {
    clear: both;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    width: 100%
}
.genesis-nav-menu a {
    color: #333
}
.genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left
}
.genesis-nav-menu a {
    display: block;
    padding: 20px 24px
}
.genesis-nav-menu .current-menu-item>a,
.genesis-nav-menu .sub-menu .current-menu-item>a:hover,
.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu a:hover {
    color: #9C0
}
.genesis-nav-menu .sub-menu {
    border-top: 1px solid #ececec;
    left: -9999px;
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    width: 200px;
    z-index: 99
}
.genesis-nav-menu .sub-menu a {
    background-color: #f8f8f8;
    border: 1px solid #ececec;
    border-top: none;
    color: #333;
    font-size: 12px;
    padding: 16px 24px;
    position: relative;
    width: 200px
}
.genesis-nav-menu .sub-menu .sub-menu {
    margin: -52px 0 0 199px
}
.genesis-nav-menu .menu-item:hover {
    position: static
}
.genesis-nav-menu .menu-item:hover>.sub-menu {
    left: auto;
    opacity: 1
}
.genesis-nav-menu>.first>a {
    padding-left: 0
}
.genesis-nav-menu>.last>a {
    padding-right: 0
}
.genesis-nav-menu>.right {
    float: right;
    list-style-type: none;
    padding: 0
}
.genesis-nav-menu>.date,
.genesis-nav-menu>.right>a {
    display: inline-block;
    padding: 20px 24px
}
.genesis-nav-menu>.search {
    padding: 8px 0 0
}
.genesis-nav-menu>.search input {
    font-size: 12px;
    padding: 12px 20px
}
.site-header .widget_nav_menu {
    color: #333
}
.site-header .genesis-nav-menu li li {
    margin-left: 0
}
.nav-primary {
    background-color: #278431
}
.nav-primary,
.nav-primary a {
    color: #fff
}
.nav-primary .sub-menu {
    border-color: green
}
.nav-primary .sub-menu a {
    background-color: #278431;
    border-color: green;
    color: #fff
}
.widget-wrap .textwidget a {
    font-size: 17px
}
.widget-wrap .textwidget .survey {
    font-weight: 700;
    font-size: 24px;
    color: #000
}
.widget-wrap .textwidget .survey:hover {
    color: #9C0
}
.widget-wrap .textwidget h4 {
    font-size: 22px
}
.widget-wrap .textwidget:nth-child(1) p {
    font-size: 18px;
    color: #0b8e36;
    font-weight: 700;
    line-height: 1.2
}
.widget-wrap .textwidget:nth-child(1) p span {
    color: #444
}
.nav-secondary {
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 5px;
    padding-right: 15px
}
.nav-secondary .genesis-nav-menu a {
    padding: 6px 10px
}
.site-footer .nav-secondary .genesis-nav-menu a {
    color: #aaa
}
.nav-secondary .genesis-nav-menu a:hover {
    color: #0b8e36
}
.nav-header a {
    padding: 1px 15px
}
.nav-header #menu-top li+li {
    border-left: 1px solid #000
}
.nav-header a:hover {
    color: green
}
.responsive-menu-icon {
    cursor: pointer;
    display: none
}
.responsive-menu-icon::before {
    content: "\f333";
    display: block;
    font: 400 20px/1 dashicons;
    margin: 0 auto;
    padding: 10px;
    text-align: center
}
.site-header .responsive-menu-icon::before {
    padding: 0
}
.home-top {
    border-top: 1px solid #ececec;
    padding-top: 5px
}
.home-top .widget:first-child h4 {
    padding-top: 20px
}
.home-top .entry {
    background: 0 0
}
.home-top .featured-content a.alignleft,
.home-top .featured-content a.alignnone,
.home-top .featured-content a.alignright {
    margin-bottom: 0
}
.home-top a.alignleft,
.home-top a.alignright {
    width: 66%
}
.home-top .featured-content,
.home-top .featured-content .entry {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0
}
.home-top .featured-content .entry-header {
    border: none;
    padding: 10% 40px 0
}
.home-top .featured-content .entry-title {
    font-size: 30px
}
.home-top .featured-content .entry-content {
    padding: 0 40px
}
.home-top .more-link {
    display: table;
    text-align: center
}
.home-bottom .widget {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    float: left;
    margin-left: 2.564102564102564%;
    padding: 40px;
    width: 31.623931623931625%
}
.home-bottom .widget:nth-child(3n+1) {
    clear: both;
    margin-left: 0
}
.entry {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    padding: 20px 40px;
    margin-bottom: 10px
}
.entry-header {
    border-bottom: 1px solid #ececec;
    padding: 0 20px 20px 0
}
.entry-content ol,
.entry-content p,
.entry-content ul {
    margin-bottom: 12px
}
.entry-content ol,
.entry-content ul {
    margin-left: 40px
}
.entry-content ol>li {
    list-style-type: decimal
}
.entry-content ul>li {
    list-style-type: disc
}
.entry-content ol ol,
.entry-content ul ul {
    margin-bottom: 0
}
.entry-content code {
    background-color: #333;
    color: #ddd
}
p.entry-meta {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 0
}
.entry-meta a {
    font-weight: 700
}
.entry-header .entry-meta {
    margin: 10px 0 0
}
.entry-footer {
    margin-top: 22px;
    display: none
}
.entry-footer .entry-meta {
    border-top: 1px solid #ececec;
    margin: 0 -40px;
    padding: 40px 40px 0
}
.entry-tags {
    float: right
}
.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px
}
.after-entry {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    margin-bottom: 40px
}
.after-entry .widget {
    margin: 0;
    padding: 40px
}
.after-entry .widget-title {
    border-top: 1px solid #ececec;
    margin: -40px -40px 30px;
    padding: 30px 40px
}
.after-entry .widget:first-child .widget-title {
    border-top: 0
}
.after-entry .featured-content .entry:last-of-type,
.after-entry .featured-content .more-from-category {
    border-bottom: none
}
.after-entry .featured-content .more-from-category {
    padding: 20px 40px
}
.after-entry li {
    list-style-type: none
}
.pagination {
    margin: 40px 0
}
.adjacent-entry-pagination {
    margin-bottom: 0
}
.archive-pagination li {
    display: inline
}
.archive-pagination li a {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    color: #333;
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px
}
.archive-pagination .active a,
.archive-pagination li a:hover {
    background-color: #31b2ed;
    color: #fff
}
.entry-pagination.pagination {
    margin: 0 0 10px
}
.comment-respond,
.entry-comments,
.entry-pings {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    margin-bottom: 40px
}
.comment-respond {
    padding: 40px 40px 16px
}
.comment-respond h3 {
    border-bottom: 1px solid #ececec;
    margin: -40px -40px 40px;
    padding: 30px 40px
}
.entry-comments {
    border-bottom-width: 0
}
.entry-comments h3,
.entry-pings h3 {
    border-bottom: 1px solid #ececec;
    margin: 0;
    padding: 30px 40px
}
.comment-list li.depth-1 {
    border-bottom: 1px solid #ececec;
    padding-bottom: 40px
}
.comment-content {
    clear: both
}
.comment-list li {
    padding: 40px 40px 0
}
.comment-list li li {
    padding-right: 0
}
.comment-respond input[type=email],
.comment-respond input[type=text],
.comment-respond input[type=url] {
    width: 50%
}
.comment-respond label {
    display: block;
    margin-right: 12px
}
.entry-comments .comment-author,
.entry-comments .comment-author a {
    color: #333;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    margin-bottom: 0
}
.comment-meta,
.comment-meta a {
    color: #aaa;
    font-size: 14px
}
.comment-meta a:hover,
.entry-comments .comment-author a:hover {
    color: #31b2ed
}
.ping-list li {
    padding: 40px 40px 16px
}
.entry-pings .reply {
    display: none
}
.comment-reply-link {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700
}
.form-allowed-tags {
    background-color: #f5f5f5;
    padding: 24px
}
.sidebar .widget {
    background-color: #fff;
    border: 1px solid #ececec;
    box-shadow: 0 1px #ececec;
    padding: 25px
}
.footer-widgets {
    background-color: #fff;
    border-top: 1px solid #ececec;
    clear: both;
    padding-top: 40px
}
.footer-widgets input {
    border: 1px solid #333
}
.footer-widgets li {
    border-bottom: 1px dotted #ececec;
    margin-bottom: 10px;
    padding-bottom: 10px
}
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
    width: 340px
}
.footer-widgets-1 {
    margin-right: 60px
}
.footer-widgets-1,
.footer-widgets-2 {
    float: left
}
.footer-widgets-3 {
    float: right
}
.site-footer {
    background-color: #fff;
    border-top: 1px solid #ececec;
    color: #aaa;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 0;
    text-align: right;
    text-transform: uppercase
}
.site-footer a {
    color: #aaa
}
.site-footer a:hover {
    color: #31b2ed
}
.site-footer p {
    margin-bottom: 0;
    margin-right: 15px
}
.primary-mobile-nav.menu-item {
    display: none
}
#hor-minimalist-b {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    text-align: left
}
#hor-minimalist-b th {
    color: #0b8e36;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 10px;
    font-size: 19px
}
#hor-minimalist-b #hor-minimalist-b th {
    font-size: 14px;
    font-weight: 700;
    color: #0b8e36;
    padding: 10px;
    border-bottom: 2px solid #0b8e36
}
#hor-minimalist-b td {
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 6px 8px
}
#hor-minimalist-b tbody tr:hover td,
#hor-minimalist-b tbody tr:hover td strong {
    color: #0b8e36
}
input,
select,
textarea {
    color: #000
}
.button,
.home-top .more-link,
button,
input[type=button],
input[type=reset],
input[type=submit] {
    background-color: #0b8e36
}
button {
width:100%;
text-align: left;
margin-bottom: 10px;
padding-left: 15px;
}
.button:hover,
button:hover,
.home-top .more-link:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    background-color: #9c0
}
.accred>img {
    max-width: 615px;
    float: left;
    margin-top: -40px
}
.accred-logos {
    width: 50%;
    display: block
}
.accred-logos-mob {
    width: 50%;
    display: none
}
.hero-image {
    display: block;
}
.mobile-image {
    display: none;
}
.post-meta-key {
    font-weight: bold;
}
.page-template-tpl-events-php ul {
    margin-left: 0
}
.page-template-tpl-events-php h3.months {
    border-bottom: 1px solid #ececec;
    padding: 0 20px 10px 0;
}
.page-template-tpl-events-php ul li {
    list-style-type: none;
}
.archive-pagination .active a,
.archive-pagination a:hover {
    background-color: #0b8e36!important;
}

/*toggle*/
a:focus {
    outline: none!important;
}
h3.faq {
	margin-bottom: 25px;
}
h3.trigger {
    margin-bottom: 15px;
    margin-top: -15px !important;
    font-weight:400;
    font-size: 16px;
    padding: 10px;
    padding-left: 30px;
    background-image: url('images/toggle-plus.png');
    background-repeat: no-repeat;
    background-position: right 20px bottom 11px;
    border-top: 1px solid #ececec;
    padding: 15px 15px 15px 0px;


}
h3.trigger a {
color: #777;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 10px;
}
h3.trigger a:hover {
     text-decoration: none!important;
}
h3.active{
    background-image: url('images/toggle-minus.png') !important;
    background-position: right 20px bottom 11px!important;
    background-repeat: no-repeat;
}
h3.toggle-white{
    background-color: #99CC00;
}
h3.toggle-gray{
    background-color: #F5F5F5;
}

.toggle_container {
    overflow: hidden;
    margin-top: -20px;
    padding-bottom: 30px;
    font-size:15px;
}
.entry-content code {
  background-color: #fff;
  color: #ddd;
}
.tbl-date {
	background-color: #278431;
	color: white;
    height: 100%;
}
.fixer {
	margin: 0px;
	padding: 0px 0px 0px 10px;
}
.table{
	height: 1661px;
	border-width: 1px;
	border-style: solid;
	border-top-style:none;
}
.row {
	border-top: black solid 1px;
	width: 100%;
	height: 230px;
}
.row-title {
	border-top: black solid 1px;
	background-color: #278431;
	width: 100%;
	height: 50px;
}
.tbl-title {
	color: white;
	}
@media only screen and (max-width: 1139px) {
    .wrap {
        max-width: 960px
    }
    .content-sidebar-sidebar .content-sidebar-wrap,
    .sidebar-content-sidebar .content-sidebar-wrap,
    .sidebar-sidebar-content .content-sidebar-wrap {
        width: 740px
    }
    .content {
        width: 620px
    }
    .site-header .widget-area {
        width: 450px
    }
    .content-sidebar-sidebar .content,
    .sidebar-content-sidebar .content,
    .sidebar-sidebar-content .content {
        width: 400px
    }
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3,
    .sidebar-primary {
        width: 31.5%
    }
    .footer-widgets-1 {
        margin-right: 30px
    }
}
@media only screen and (max-width: 1023px) {
    .wrap {
        max-width: 768px
    }
    .home-top .wrap {
        max-width: 750px
    }
    .content,
    .content-sidebar-sidebar .content,
    .content-sidebar-sidebar .content-sidebar-wrap,
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3,
    .sidebar-content-sidebar .content,
    .sidebar-content-sidebar .content-sidebar-wrap,
    .sidebar-primary,
    .sidebar-secondary,
    .sidebar-sidebar-content .content,
    .sidebar-sidebar-content .content-sidebar-wrap,
    .site-header .widget-area,
    .title-area {
        width: 100%
    }
    .site-header .wrap {
        padding: 20px 5% 0
    }
    .genesis-nav-menu li,
    .site-header .search-form,
    .site-header ul.genesis-nav-menu {
        float: none
    }
    .genesis-nav-menu,
    .site-description,
    .site-header .search-form,
    .site-header .title-area,
    .site-header .widget-area,
    .site-title {
        text-align: center
    }
    .site-header .search-form {
        margin: 16px auto
    }
    .genesis-nav-menu li.right {
        display: none
    }
    .featured-content .alignnone {
        display: block;
        text-align: center
    }
    .home-top a.alignleft,
    .home-top a.alignright {
        width: 100%
    }
    .home-top .featured-content .entry-header {
        clear: both;
        padding: 40px 40px 0
    }
    .home-top .featured-content .entry-content {
        padding: 0 40px 40px
    }
    .nav-primary a {
        display: block;
        padding: 20px 12px
    }
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        width: 31%
    }
    .footer-widgets-1 {
        margin-right: 4.2%
    }
    .site-header .widget-area {
        padding-top: 15px;
        padding-bottom: 15px
    }
    .menu.genesis-nav-menu.menu-secondary {
        text-align: right;
        margin-top: 30px
    }
    .accred-logos {
        width: 50%;
        display: none
    }
    .accred-logos-mob {
        display: block;
        width: 45%
    }
    .clearfix {
        clear:left;
    }
}
@media only screen and (max-width: 768px) {
    .wrap {
        padding-left: 2%;
        padding-right: 2%
    }
    .archive-pagination li a {
        margin-bottom: 4px
    }
    .five-sixths,
    .four-sixths,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds {
        margin: 0;
        width: 100%
    }
    .home-top .more-link {
        display: block
    }
    .home-bottom .widget {
        margin: 0 0 40px;
        width: 100%
    }
    .header-image .site-title a {
        background-size: contain!important
    }
    .genesis-nav-menu.responsive-menu,
    .genesis-nav-menu.responsive-menu>.menu-item>.sub-menu {
        display: none
    }
    .genesis-nav-menu.responsive-menu .menu-item,
    .responsive-menu-icon {
        display: block
    }
    .genesis-nav-menu.responsive-menu .menu-item:hover {
        position: static
    }
    .genesis-nav-menu.responsive-menu li a,
    .genesis-nav-menu.responsive-menu li a:hover {
        background: 0 0;
        border: none;
        display: block;
        line-height: 1;
        padding: 16px 20px;
        text-transform: none
    }
    .genesis-nav-menu.responsive-menu .menu-item-has-children {
        cursor: pointer
    }
    .genesis-nav-menu.responsive-menu .menu-item-has-children>a {
        margin-right: 60px
    }
    .genesis-nav-menu.responsive-menu>.menu-item-has-children:before {
        content: "\f347";
        float: right;
        font: 400 16px/1 dashicons;
        color: #9c0;
        height: 16px;
        padding: 15px 20px;
        right: 0;
        text-align: right;
        z-index: 9999
    }
    .genesis-nav-menu.responsive-menu .menu-open.menu-item-has-children:before {
        content: "\f343"
    }
    .genesis-nav-menu.responsive-menu .sub-menu {
        background-color: rgba(0, 0, 0, .05);
        border: none;
        left: auto;
        opacity: 1;
        position: relative;
        -moz-transition: opacity .4s ease-in-out;
        -ms-transition: opacity .4s ease-in-out;
        -o-transition: opacity .4s ease-in-out;
        -webkit-transition: opacity .4s ease-in-out;
        transition: opacity .4s ease-in-out;
        width: 100%;
        z-index: 99
    }
    .genesis-nav-menu.responsive-menu .sub-menu li a,
    .genesis-nav-menu.responsive-menu .sub-menu li a:hover {
        padding: 12px 20px;
        position: relative;
        text-transform: none;
        width: 100%
    }
    .nav-primary .genesis-nav-menu.responsive-menu {
        padding-bottom: 16px
    }
    .nav-primary .genesis-nav-menu.responsive-menu .sub-menu {
        background-color: rgba(0, 0, 0, .07)
    }
    .genesis-nav-menu.responsive-menu .sub-menu .sub-menu,
    .nav-primary .genesis-nav-menu.responsive-menu .sub-menu .sub-menu {
        background-color: transparent;
        margin: 0;
        padding-left: 25px
    }
    aside {
        display: none
    }
    .site-header {
        min-height: 100px
    }
    .site-inner {
        padding-top: 20px
    }
    .primary-mobile-nav.menu-item {
        display: block
    }
    .primary-mobile-nav.book.survey a {
        font-size: 24px;
        color: #9C0
    }
    .primary-mobile-nav.book.survey a:hover {
        color: #fff
    }
    .footer-widgets .featured-content .widget-title,
    .widget-title {
        font-size: 21px
    }
    .entry {
        padding: 24px
    }
    .entry-title {
        font-size: 24px
    }
    .breadcrumb {
        margin-left: 5px
    }
    .site-footer {
        text-align: center
    }
    .nav-secondary {
        width: 100%
    }
    #hor-minimalist-b {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 12px;
        background: #fff;
        width: 100%;
        border-collapse: collapse;
        text-align: left
    }
    #hor-minimalist-b th {
        font-size: 14px;
        font-weight: 700;
        color: #0b8e36;
        padding: 5px;
        border-bottom: 2px solid #0b8e36
    }
    #hor-minimalist-b td {
        border-bottom: 1px solid #ccc;
        color: #000;
        padding: 6px 8px
    }
    #hor-minimalist-b th h4 {
        font-size: 14px
    }
    .nav-secondary {
        padding-right: 0
    }
	.tbl-date {
		height: auto;
		border-left: black solid 1px;
		border-right: black solid 1px;
	}
	.row {
		border: none;
		height: auto;
	}
	.tbl-event {
		border-bottom: black solid 1px;
		border-left: black solid 1px;
		border-right: black solid 1px;
	}
	.tbl-sum {
		border-left: black solid 1px;
		border-right: black solid 1px;
	}
	.table {
		border-style: none;
	}
	.tbl-bottom {
		border-bottom: black solid 1px;
	}
	.row-title {
		display:none;
		}
}
@media only screen and (max-width: 480px) {
    .menu.genesis-nav-menu.menu-secondary {
        text-align: center
    }
    .accred>img {
        margin-top: 10px
    }
    .acreed {
        display: block
    }
    .accred-logos-mob {
        display: block;
        width: 96%;
        margin-bottom: 10px
    }
    .site-footer p {
        margin-top: 10px
    }
    .hero-image {
        display: none
    }
    .mobile-image {
        display: block
    }
    .footer-widgets-1,
    .footer-widgets-2,
    .footer-widgets-3 {
        width: 100%
    }
}